**/node_modules/
*npm-debug.log
artifacts/
node_modules/
tmp/
CVS/
.DS_Store
.*.swp
.svn
*~
.com.apple.timemachine.supported
tests/assets/yql/build/*/*
tests/assets/badmodule/build/*/*
tests/assets/badrollup/build/*/*
tests/assets-global
tests/assets/freestyle/build
coverage
