  -h, --help, help  show this stuff
     -v, --version  show yogi version
             build  builds your module, duh!
               cdn  [request|status] submit/view a cdn request
            config  set/get <value> works with the config
                gh  connect yogi to github, it helps!
     info <module>  show module information
              lint  lint your files
             login  get a login token to do neat things.
            logout  remove tokens from yogi config
             serve  fire up the yogi server, it's here to help
     show <module>  fetches the package.json for <module>
              test  grover tells you what is wrong
            update  convert this module into a yogi module
            whoami  who you have authed as
